@using ASP.Server.Models

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}

<style>
    .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .btn{
                display: flex;
                align-items: center;
            }
            
            p {
                margin: 0;
            }
        }
        
        .container-btn{
            display: flex;
            justify-content: end;
            gap: 10px;
        }
        
    .listGenres {
        display:  flex;
        flex-direction: column;
        gap: 15px;
    }
</style>

<div class="listGenres">
    <div class="title">
        <h1>Liste des Genres:</h1>
        <a class="btn btn-primary" asp-area="" asp-controller="Genre" asp-action="Create">Add new genre</a>
    </div>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
    @foreach (var genre in Model)
    {
        <div class="genre card">
            <h2 class="card-header">@genre.Name</h2>
            <div class="card-body">
                <p>Liste de tout les livres associés à ce genre : </p>
                <ul>
                    @foreach (var book in genre.Books)
                    {
                        <li>@book.Name</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>


